{
  "parserOptions": {
    "ecmaFeatures":{
      "experimentalObjectRestSpread":true
    }
  },
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "no-console": [2],
    "no-confusing-arrow": [0],
    "radix": [2, "as-needed"],
    "max-len": ["error", {"code": 110}],
    "func-names": [0],
    "no-shadow":[0],
    "no-nested-ternary":[0],
    "react/prop-types":[0],
    "react/no-multi-comp":[1],
    "react/jsx-no-bind":[0],
    "react/prefer-stateless-function":[0],
    "no-multi-str":[0],
    "import/no-unresolved":[0],
    "no-underscore-dangle":[0],
  }
}
