@import 'variables'

body
  color #222
  background #fff
  &::-webkit-scrollbar
    width 10px
    height 10px

.login-modal-title
  text-align center

[type='button']
  -webkit-appearance none !important

.hint
  z-index 9999999999999999999